<% provide(:title, 'Home') %>
<% content_for :head do %>
<h1><%= @static_pages[:title]%></h1>
<%end%>

<% content_for :img do %>
<%= carousel_for(@img)%>
<%end%>
	 
<%= link_to image_tag("rails.png", alt: "Rails logo", size:"100"), 'http://rubyonrails.org/' %>
<%= image_tag asset_path("rails.png") %>
<img src="home_page.png"/>

<% content_for :desc do %>
<p>
    <%= @static_pages[:description]%>
</p>
<%end%>
<h2>hello</h2>

