<% provide(:title, "pages") %>
<% content_for :head do %>
<h1>Listing pages</h1>
<%end%>

<% content_for :cont do %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
    <tbody>
  <% @static_pages.each do |a| %>

    <tr>
      <td><%= a.title %></td>
      <td><%=a.created_at.to_time.strftime("%A, %l:%M %p")%></td>
      <td><%=a.updated_at.to_time.strftime("%A, %l:%M %p")%></td>
      <td> <%= link_to "Edit", :action => 'edit', :id => a.id %></td>
       <td>cannot be deleted</td>
    </tr>
      <% end %>
      <% @pages.each do |p| %>
       <tr>
      <td><%= p.title %></td>
      <td><%=p.created_at.to_time.strftime("%A, %l:%M %p")%></td>
      <td><%=p.updated_at.to_time.strftime("%A, %l:%M %p")%></td>
      <td><%= link_to "Edit", {controller: "pages", action: "edit", id: p.id} %></td>
      <td><%= link_to 'Delete', p, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
      <% end %>
    </tbody>

  
</table>

<br />

<% if website_admin? %>
    <%= link_to 'Add a fake booking', :action => 'new' %>
<% end %>
<%end%>