<% provide(:title, 'Edit membership')%>
<% content_for :head do %>
<h1>Edit membership "<%= @membership.mtype %>"</h1>
<%end%>

<% content_for :cont do %>

<%= form_for(@membership, :url => {:action => 'update', :id => @membership.id}) do |f| %>
  <p>
    Title: <%= f.text_field 'mtype' %>
  </p>
  <p>
    Price: <%= f.number_field(:price, in: 1.0..150.0, step: 0.5) %>
  </p>
  <p>
    Description: <%= f.text_area 'description' %>
  </p>
  <p>
    <%= f.submit "Edit" , class: "btn btn-primary" %>
  </p>
<% end %>

<%= link_to 'Back', :action => nil %>
<%end%>