<% provide(:title, 'Memberships') %> 
<% content_for :head do%>
<h1>
    <% if @page%>
    <%= @page[:title]%>
    <%end%>
</h1>
<%end%>

<% content_for :desc do %>
<p>
    <% if @page%>
    <%= @page[:description]%>
    <%end%>  
</p>
<%end%>

<% content_for :img do %>
    <% if @img%>
    <%= carousel_for(@img)%>
    <%end%>
<%end%>


<% content_for :cont do %>
<table class="table">
  <tr>
    <th>Type</th>
    <th>Price</th>
    <th>Description</th>
    <% if logged_in? %>
    <th>Edit</th>
    <th>Delete</th>
    <%end%>
  </tr>
  <tr>
  </tr>

<% @memberships.each do |m| %>
  <tr>
    <td><%= m.mtype %></td>
    <td><%= m.price %></td>
    <td><%= m.description%></td>
    <% if website_admin? %>
        <td> <%= link_to 'Edit', :action => 'edit', :id => m.id %></td>
        <td><%= link_to 'Delete', m, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if website_admin? %>
    <%= link_to 'Add a membership', :action => 'new' %>
<% end %>
<%end%>


 