<% provide(:title, 'contact')%>
<% content_for :head do%>
<h1>
  <% if @page %>
  <% @page[:title]%>
  <%end%>
</h1>
<%end%>

<% content_for :desc do %>
  <%if @page%>
  <% @page[:description] %>
  <%end%>
<%end%>

<% content_for :img do %>
  <% if @img %>
  <%= carousel_for(@img)%>
  <%end%>
<%end%>

<%content_for :cont do %>

<%= form_for(@contact_message, :url => {:action => 'create'}) do |f| %>
 <p>
    Name: <%= f.text_field(:name , :placeholder => "minimum length of 2 characters") %>
  </p>
  <p>
    Phone number: <%= f.telephone_field(:phone, :placeholder => "must contain between 10 and 15 characters") %>
  </p>
  <p>
    Email Address: <%= f.email_field(:email) %>
  </p>
  <p>
    Message: <%= f.text_area :message_content, size: "60x5" %>
  </p>
  <p>
    <%= f.submit "Create", class: "btn btn-primary" %>
  </p>
<% end %>

<%= link_to 'Back', :action => nil %>

<%end%>