<% provide(:title, 'Edit booking')%>
<% content_for :head do %>
<h1>Edit booking "<%= @booking.classe_type %>"</h1>
<%end%>

<% content_for :cont do %>
<%= form_for(@booking, :url => {:action => 'update', :id => @booking.id}) do |f| %>
<p>
    Classe :  <%=  @booking.classe_type %>
    on  <%= @booking.cdate.strftime('%A %d %B at %H:%M') %>
  </p>
  <p>
    Name: <%= f.text_field 'name', :placeholder => "minimum length of 2 characters" %>
  </p>
  <p>
    Phone number: <%= f.telephone_field(:phone), :placeholder => "must contain between 10 and 15 characters" %>
  </p>
  <p>
    Email Address: <%= f.email_field(:email) %>
  </p>
  <p>
    Member?: <%= f.check_box 'member' %>
  </p>
  <p>
    Membership ID <%= f.number_field :membership_id %>
  </p>
  <p>
    <%= f.submit "Edit" , class: "btn btn-primary" %>
  </p>
<% end %>

<%= link_to 'Back', :action => nil %>
<%end%>