<% provide(:title, 'add booking')%>
<% content_for :head do %>
<h1>Booking for classe_type*</h1>
<h2>all thing_needed* to be replaced to @classe.thing_needed</h2>
<%end%>

<% content_for :cont do %>
<%= form_for(@booking, :url => {:action => 'create'}) do |f| %>
  <p>
    Booking*: <%= f.text_field 'classe_type' %>
  </p>
  <p>
    Date*: <%= f.datetime_select :cdate %>
  </p>
  <p>
    Name: <%= f.text_field 'name' %>
  </p>
  <p>
    Phone number: <%= f.telephone_field(:phone) %>
  </p>
  <p>
    Email Address: <%= f.email_field(:email) %>
  </p>
  <p>
    Are you a member?: <%= f.check_box 'member' %>
  </p>
    Membership ID <%= f.text_field :membership_id %>
  <p>
    <%= f.submit "Save" , booking: "btn btn-primary" %>
  </p>
<% end %>

<%= link_to 'Back', :action => nil %>
<%end%>