<% provide(:title, 'add booking')%>
<% content_for :head do %>
<h1>Booking for <%= @classe.ctype %> </h1>
<h2>from  <%= @classe.date.strftime('%A %d %B at %H:%M') %></h2>
<%end%>

<% content_for :cont do %>
<%= form_for(@booking, :url => {:action => 'create'}) do |f| %>
  <p>
    Name: <%= f.text_field 'name' %>
  </p>
  <p>
    Phone number: <%= f.telephone_field(:phone) %>
  </p>
  <p>
    Email Address: <%= f.email_field(:email) %>
  </p>
  <p>
    Are you a member?: <%= f.check_box 'member' %>
  </p>
  <p>
    Membership ID <%= f.number_field :membership_id %>
  </p>
  <p>
    <%= f.submit "Save", class: "btn btn-primary" %>
  </p>
<% end %>

<%= link_to 'Back', :action => nil %>
<%end%>