<% provide(:title, "classes") %>
<% content_for :head do %>
<h1>
    <% if @page%>
    <%= @page[:title]%>
    <%end%>
</h1>
<%end%>

<% content_for :img do %>
    <% if @img %>
    <% carousel_for(@img) %>
    <%end%>
<%end%>

<% content_for :description do %>

    <% if @page %>
    <%= @page[:description] %>
    <%end%>
<%end%>

<% content_for :cont do %>

<br />
<%if !@empty %>
<% @days.each do |d| %>
<%if d[3] > 0%>
<table class="table">
  <caption><%= d[0]%> <%=d[1] %>/<%= d[2] %></caption>
  <tr>
        <th>Time</th>
    <th>Type</th>
    <th>Description</th>
    <th>Start date</th>

    <%if website_admin? %>
    <th>Edit</th>
    <th>Delete</th>
    <%end%>
  </tr>
  <% @classes.each do |c| %>
  <% if d[0] == c.date.to_time.strftime("%A").downcase && d[1] == c.date.to_time.strftime("%d") && d[2] == c.date.to_time.strftime("%m")%>
  <tr>
        <td><%=c.date.to_time.strftime("%l:%M %p")%></td>
    <td><%= link_to c.ctype, :action => 'show', :id => c.id %></td>
    <td><%=c.description%></td>
    <td>
        <% if c.first_classeId && c.first_classeId != -1 %>
            <%= get_start_date(c.first_classeId).strftime("%a, %d %b %Y %l:%M %p") %>
        <% else %>
            Unique classe
        <% end %>
    </td>
    <% if website_admin? %>
        <td> <%= link_to 'Edit', :action => 'edit', :id => c.id %></td>
        <td><%= link_to 'Delete', c, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
    </tr>
    <%end%>
    <%end%>
</table>
<%end%>
<%end%>
<%else%>
<p>Nothing is planned for this week</p>
<%end%>


<br>
<% if (is_today @days) == false%>
<%= link_to 'previous week', :action => 'index', :date => (get_prev @days) %>
<%end%>
<% if logged_in? %>
    <%= link_to 'Add a classe', :action => 'new' %>
<% end %>

<%= link_to 'Next week', :action => 'index', :date => @next%>
<%end%>
<br>
