<% provide(:title, 'add set of class')%>
<% content_for :head do %>
<h1>New set of class</h1>
<%end%>

<% content_for :cont do %>

  <p>
    Classes type: <%= @first_classe.ctype , :placeholder => "minimum length of 2 characters"%>
  </p>
  <p>
    Description: <%= @first_classe.description , :placeholder => "must contain between 5 and 200 characters"%>
  </p>  
<%= form_tag(new_set_classes_path, :method=>'post') do %>
  <% @set_classes.each do |classe| %>
    <%= fields_for 'classes[][]', classe do |d| %>
      <div class="field"> Date: <%= d.datetime_select :date %> </div>
    <% end %>
  <%end%>
  <%= hidden_field_tag :id, @first_classe.id %>
  <br/>
  <p> <%= submit_tag "Save" , class: "btn btn-primary" %> </p>
<% end %>

<%= link_to 'Back', :action => nil %>
<%end%>