<% provide(:title, 'classe') %>
<% content_for :head do %>
<h1><%=h @classe.ctype %></h1>
<%end%>
<% content_for :desc do %>
<h2><%=h @instructor.name %></h2>

<blockquote>
    Classe's description:
<%=h @classe.description %>
</blockquote>

<p>When?: <i><%= @classe.date.to_time.strftime('%A, %d %b %Y %l:%M %p') %></i></p>

<p>
    <% if @classe.first_classeId != -1 %>
        <%= link_to 'Book SET of 6 classes', new_booking_path(@classe.id), class: "btn btn-primary"  %>
    <% else %>
        <%= link_to 'Book it', new_booking_path(@classe.id), class: "btn btn-primary"  %>
    <% end %>
</p>

<% if website_admin? %>
    <%= link_to 'Edit', :action => 'edit', :id => @classe.id %> |
<% end %>
<%= link_to 'Back', :action => nil %>
<%end%>