<% provide(:title, 'classe') %>
<% content_for :head do %>
<h1><%=h @classe.ctype %></h1>
<%end%>
<% content_for :desc do %>
<h2><%=h @instructor.name %></h2>

<blockquote>
    Classe's description:
<%=h @classe.description %>
</blockquote>

<p>When?: <i><%= @classe.date.to_time.strftime('%A, %d %b %Y %l:%M %p') %></i></p>

<p><%= link_to 'Book it', new_booking_path(@classe.id) %></p>

<% if logged_in? %>
    <%= link_to 'Edit', :action => 'edit', :id => @classe.id %> |
<% end %>
<%= link_to 'Back', :action => nil %>
<%end%>