<% provide(:title, 'Edit img')%>
<% content_for :head do %>
<h1>Edit image "<%= @image.filename %>"</h1>
<%end%>

<% content_for :cont do %>
<%= form_for(@image, :url => {:action => 'update', :id => @image.id}) do |f| %>
 <p>
    Gallery name:
    <% options = options_from_collection_for_select(@list, 'title', 'title') %>
    <%= f.select :gallery, options %>
  </p>
  <p>
    Alt-text: <%= f.text_field :alt_text, :placeholder => "maximum length of 15 characters" %>
  </p>
  <p>
    Caption: <%= f.text_area :caption , :placeholder => "must contain between 2 and 50 characters"%>
  </p>
  <p>
    <%= f.submit "Edit", class: "btn btn-primary" %>
  </p>
<% end %>

<%= link_to 'Back', :action => nil %>
<%end%>