<% provide(:title, 'add a image')%>
<% content_for :head do %>
<h1>New image</h1>
<%end%>

<% content_for :cont do %>
<%= form_for(@image, :url => {:action => 'create'}) do |f| %>
 <p>
    Gallery name:
    <% options = options_from_collection_for_select(@list, 'title', 'title') %>
    <%= f.select :gallery, options %>
  </p>
  <p>
    File: <%= f.file_field 'filename' %>
  </p>
  <p>
    Alt-text: <%= f.text_field :alt_text , :placeholder => "minimum length of 15 characters"%>
  </p>
  <p>
    Caption: <%= f.text_area :caption , :placeholder => "must contain between 2 and 50 characters"%>
  </p>
  <p>
    <%= f.submit "Create", class: "btn btn-primary" %>
  </p>
<% end %>

<%= link_to 'Back', :action => nil %>
<%end%>