<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "fitness center", root_path, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<% @page = Page.all %>
				<% @page.each do |p| %>
				<li><%= link_to p[:title], page_path(id: p[:id])  %></li>
				<%end%>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Memberships", memberships_path %></li>
				<li><%= link_to "Classes", classes_path %></li>
				<li><%= link_to "Contact", contact_messages_path %></li>
				<% if logged_in? %>
				    <% if website_admin? %>
		    				    <li><%= link_to "Images", images_path %></li>
		    				    <li><%= link_to "Bookings", bookings_path %></li>
		                        <li class="divider"></li>
		    				    <li><%= link_to "New page", new_page_path %></li>
		    				    <li><%= link_to "Edit pages", static_pages_path %></li>
    				<% end %>
    				<li><%= link_to "Log out", logout_path, method: :delete %></li>
				<% else %>
				    <li><%= link_to "Log in as instructor", login_path %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>